.giftCardReward,
.thatExpandWith {
  margin: 0;
}
.giftCardRewardContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 400;
  font-family: inherit;
}
.purchaseGiftCards,
.rewardsExpress {
  font-family: "Circular Std";
}
.purchaseGiftCardsInBulkWi {
  margin: 0;
}
.giftnestRewards {
  font-family: "Circular Std";
}
.orDiscoverScalableEnterpris {
  margin: 0;
}
.purchaseGiftCardsContainer {
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 120%;
  font-family: inherit;
}
.rewardParagraph,
.rewardParagraphWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rewardParagraph {
  gap: 32px;
}
.rewardParagraphWrapper {
  padding: 0 0 52px;
  box-sizing: border-box;
  min-width: 698px;
  min-height: 249px;
  max-width: 100%;
}
.stackedFaceplatesBulkTemplaIcon,
.visaerc6mob2bFp01pngIcon {
  position: absolute;
  top: 29.1px;
  left: 0;
  width: 360px;
  height: 272px;
  overflow: hidden;
  object-fit: cover;
}
.visaerc6mob2bFp01pngIcon {
  border: 0;
  background-color: transparent;
  height: 221.4px;
  width: 323.8px;
  outline: 0;
  top: 0;
  left: 9.4px;
  object-fit: contain;
  z-index: 1;
}
.payment {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.paymentWrapper {
  height: 301.1px;
  width: 360px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 360px;
}
.paymentWrapper,
.rewardContent,
.rewardContentWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.rewardContent {
  align-items: flex-end;
  justify-content: flex-start;
  gap: 52px;
  flex-shrink: 0;
}
.rewardContentWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 128px;
  box-sizing: border-box;
  text-align: left;
  font-size: 48px;
  color: #1c1c1c;
  font-family: "Circular Std";
}
@media screen and (max-width: 1200px) {
  .paymentWrapper,
  .rewardParagraphWrapper {
    flex: 1;
  }
  .rewardContent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .giftCardRewardContainer {
    font-size: 38px;
    line-height: 42px;
  }
  .rewardParagraph {
    gap: 16px;
  }
  .rewardParagraphWrapper {
    min-width: 100%;
  }
  .rewardContent {
    gap: 26px;
  }
}
@media screen and (max-width: 450px) {
  .giftCardRewardContainer {
    font-size: 29px;
    line-height: 32px;
  }
  .purchaseGiftCardsContainer {
    font-size: 19px;
    line-height: 23px;
  }
  .paymentWrapper {
    min-width: 100%;
  }
  .rewardContentWrapper {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
