.containerChild {
  height: 43px;
  width: 62px;
  position: relative;
}
.buyA100 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  white-space: nowrap;
}
.bonusCardContainer,
.container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.bonusCardContainer {
  width: 660px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 11px 0 0;
}
.container {
  align-self: stretch;
  background-color: #263238;
  flex-direction: row;
  justify-content: center;
  padding: 8px 20px;
  gap: 48px;
}
.horizontalDivider,
.horizontalDivider1 {
  position: absolute;
  left: 0;
  background-color: #f24452;
  width: 25px;
  height: 2px;
}
.horizontalDivider {
  top: 0;
}
.horizontalDivider1 {
  bottom: 0;
}
.horizontalDividerParent {
  width: 25px;
  height: 18px;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.5px 0 0;
}
.logoGiftnest {
  height: 43px;
  width: 168px;
  position: relative;
  object-fit: cover;
}
.container3 {
  width: 241px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
}
.buyGiftCards {
  align-self: stretch;
  height: 16px;
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
}
.cards {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.buyForBusiness,
.promos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buyForBusiness {
  width: 135px;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
}
.promos {
  align-self: stretch;
  height: 16px;
  line-height: 120%;
  flex-shrink: 0;
}
.cards1 {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.buyWithCrypto {
  align-self: stretch;
  height: 16px;
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.cards2 {
  width: 184px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.cards2,
.cardsContainer,
.container5 {
  display: flex;
  align-items: flex-start;
}
.cardsContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.container5 {
  width: 761px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.locationItemsChild {
  width: 18px;
  height: 18px;
  position: relative;
}
.locationItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.unitedStates {
  flex: 1;
  position: relative;
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 89.3px;
  white-space: nowrap;
}
.location,
.locationWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.location {
  align-self: stretch;
  flex-direction: row;
  gap: 8px;
}
.locationWrapper {
  width: 115.4px;
  flex-direction: column;
  padding: 3.5px 0 0;
  box-sizing: border-box;
}
.frameChild {
  cursor: pointer;
  margin: 0;
  width: 15.7px;
  height: 15.7px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.6px;
}
.en {
  position: relative;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 20px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4.5px;
}
.locationLanguageContainerInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.5px 0 0;
}
.containerItem {
  cursor: pointer;
  margin: 0;
  width: 22px;
  height: 22.5px;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.7px;
}
.myAccount {
  height: 28px;
  flex: 1;
  position: relative;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.container7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9px;
  font-size: 18px;
  color: #424242;
  font-family: "Circular Std";
}
.containerInner {
  width: 24px;
  height: 23.3px;
  position: relative;
}
.container9 {
  flex-direction: column;
  padding: 2.3px 0 0;
}
.container6,
.container9,
.locationLanguageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationLanguageContainer {
  align-self: stretch;
  flex-direction: row;
  gap: 24px;
}
.container6 {
  width: 387.1px;
  flex-direction: column;
  padding: 7.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 14px;
  font-family: "Kumbh Sans";
}
.container2 {
  width: 1678px;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
  box-sizing: border-box;
  gap: 20px;
}
.container1,
.container2,
.containerParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.container1 {
  align-self: stretch;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14),
    0 1px 10px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 21px 20px;
  box-sizing: border-box;
  font-size: 18px;
  color: #5a5a5a;
}
.containerParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Circular Std";
}
@media screen and (max-width: 450px) {
  .container {
    gap: 24px;
  }
}
