.wonderful {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
}
.wonderfulWrapper {
  width: 163px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 34px;
  box-sizing: border-box;
}
.linkIcon {
  align-self: stretch;
  height: 29.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.basedOn {
  width: 58.8px;
  position: relative;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basedOn,
.reviews,
.strong {
  flex-shrink: 0;
  debug_commit: 448091;
}
.reviews {
  width: 88px;
  position: relative;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.strong {
  margin-left: -0.2px;
  border-bottom: 1px solid rgba(25, 25, 25, 0.6);
  flex-direction: row;
  padding: 0 0 0.5px;
}
.basedOnParent,
.frameWrapper,
.strong,
.strongWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.strongWrapper {
  flex-direction: column;
  padding: 0;
}
.basedOnParent,
.frameWrapper {
  flex-direction: row;
}
.frameWrapper {
  justify-content: flex-end;
  padding: 0 11px 0 12px;
}
.linkParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 11.5px;
}
.svgIcon {
  width: 24px;
  height: 24px;
  position: relative;
}
.svgWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 13.7px;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 27px;
  font-size: 13px;
}
.linkIcon1 {
  height: 26.1px;
  width: 106px;
  position: relative;
}
.frameParent,
.linkWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkWrapper {
  flex-direction: row;
  padding: 0 28px;
}
.frameParent {
  width: 213px;
  flex-direction: column;
  gap: 14.3px;
  text-align: center;
  font-size: 24px;
  color: #1c1c1c;
  font-family: Arial;
}
@media screen and (max-width: 450px) {
  .wonderful {
    font-size: 19px;
    line-height: 19px;
  }
}
