.imgIcon,
.verified {
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.imgIcon {
  align-self: stretch;
  width: 99px;
  max-height: 100%;
  min-height: 18px;
}
.verified {
  flex: 1;
  line-height: 16px;
}
.container,
.imgParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.container {
  height: 16px;
  width: 43.4px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 0 0.5px;
  box-sizing: border-box;
  debug_commit: 448091;
}
.imgParent {
  gap: 26px;
}
.thisIsInteresting,
.veryInteresting {
  width: 193.9px;
  position: relative;
  line-height: 14px;
  display: flex;
  align-items: center;
}
.thisIsInteresting {
  width: 167.9px;
  line-height: 16px;
  flex-shrink: 0;
}
.container1 {
  align-self: stretch;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0.5px;
  box-sizing: border-box;
  font-size: 13px;
}
.susan {
  flex: 1;
  position: relative;
  line-height: 12px;
}
.container2,
.dayAgo,
.susan {
  flex-shrink: 0;
  debug_commit: 448091;
}
.container2 {
  width: 43.3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.dayAgo {
  flex: 1;
  position: relative;
  line-height: 12px;
}
.containerParent,
.frameGroup,
.veryInterestingParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.containerParent {
  width: 99.3px;
  flex-direction: row;
  gap: 3px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.frameGroup,
.veryInterestingParent {
  align-self: stretch;
  flex-direction: column;
}
.veryInterestingParent {
  gap: 8px;
  font-size: 14px;
  color: #1c1c1c;
}
.frameGroup {
  gap: 12.1px;
}
.showingOur4 {
  width: 180px;
  position: relative;
  line-height: 16px;
  color: #1c1c1c;
  display: flex;
  align-items: center;
}
.frameParent {
  width: 243px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px 0 0;
  box-sizing: border-box;
  gap: 31.8px;
  text-align: left;
  font-size: 13px;
  color: #6c6c85;
  font-family: Arial;
}
